.close{
}

	.bar1{
	}

	.bar2{
	}

	#mapContainer {
	}

	#contentContainer {
	}
	#mapCanvas {
}

#infowindow {
	height: 155px;
}

#bodyContent p{
	font-size: 75px;
}

#logo{
}


/*home*//*//////////////////////////////////////////*/

.home{
	left: 5%;
	top: 29px;
}

.home img{
	width: 55px;
}


/*menu*//*//////////////////////////////////////////*/

.menu {
}

.menuLinks{
	top:48px;
	left:8%;
	opacity:1;
}   

.menuLinks h1{
	font-size: 2.5rem;
}

.menu div:hover{
	font-style: italic;
}

.menuSites{
	bottom: 5px;
	left: 6%;
	width: 88%;
	display:inline-block;
}

.menuSites h1{
}

.menuFloatSites{
}

.menuFloatAbout{

}

.listItineraries{
	bottom: 15%;
	right: 170px;
}


.listItineraries h3{
	font-size: 1.7rem;
}

/*===========Itinerary Page========*/
.itineraryTitle{
}

.itineraryTitle h1{
	font-size: 33px;
}
.itineraryContain{
	top: 15%;
}

#itinerarySitesContain{
	left: 0%;
	width: 85%;
	
}

#itinerarySitesContain ul li{
}

#itinerarySitesContain ul li h1{
	font-size: 28px;
	line-height: 1.1em;
}

#itinerarySitesContain ul li h2{
	font-size: 16px;
	line-height: 1rem;
}

.itineraryMap{
}

.itineraryMap iframe{
}


