

.sitesGrid a:hover{
	font-style: normal;
}


.close{
}

	.bar1{
	}

	.bar2{
	}

	#mapContainer {
	}

	#contentContainer {
	}
	#mapCanvas {
}

#infowindow {
	height: 155px;
}

#bodyContent p{
	font-size: 75px;
}

#logo{
}


/*home*//*//////////////////////////////////////////*/

.home{
	position:fixed;
	left: 5%;
	top: 29px;
	z-index: 2000;
}

.home img{
	width: 55px;
}


/*menu*//*//////////////////////////////////////////*/

.menu {
}

.menuLinks{
	position:relative;
	top:48px;
	left:8%;
	opacity:1;
}   

.menuLinks h1{
	font-size: 2.5rem;
}

.menu div:hover{
	font-style: italic;
}

.menuSites{
	position:absolute;
	bottom: 5px;
	left: 6%;
	width: 88%;
	display:inline-block;
}

.menuSites h1{

}

.menuFloatDescription{
	left: 58%;
	/*-ms-transform: rotate(270deg);*/ /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	/*transform: rotate(270deg);*/

}

.menuFloatStreetview{
	left: 58%;
}


.menuFloatVisit{
	left: 58%;
}

.menuFloatInt{
	left: 58%;
}



.menuFloatSites{
}

.menuFloatAbout{

}

.listItineraries{
	bottom: 15%;
	right: 170px;
	position: fixed;
}


.listItineraries h3{
	font-size: 1.7rem;
}

/*===========Itinerary Page========*/
.itineraryTitle{
}

.itineraryTitle h1{
	font-size: 33px;
}
.itineraryContain{
	top: 15%;
}

#itinerarySitesContain{

	left: 0%;
	width: 85%;
	
}

#itinerarySitesContain ul li{
}

#itinerarySitesContain ul li h1{
	font-size: 28px;
	line-height: 1.1em;
}

#itinerarySitesContain ul li h2{
	font-family: "Interstate-Bold";
	font-size: 16px;
	line-height: 1rem;
}

.itineraryMap{
}

.itineraryMap iframe{
}



/*===========Archive Page========*/
.archiveContain{
	top: 100px;
}

.archiveTitle{
	left: 2%;
	margin-bottom: 3%;
}

.archiveTitle h1{
	font-size: 1.8rem;
}

#sitesContain{
}

#archiveSitesContain{
	top: 50%;
	left: 0%;
	width: 92%;
}

.archiveSitetitle{
	top: 60%;
	width: 100%;
	text-align: center;
}
.archiveSitetitle h4{
	font-size: 2rem;
	/*letter-spacing: .05em;*/
	line-height: .8em;
}

.site{
}

.sitesGrid{
	width: 100%;
	height: auto;
	margin-top: 4%;
	margin-left: 4%;
	margin-right: 4%;
}

.site img{
}

.sitesGrid img{
}


.about{
}


