.site_Title{
	bottom: 0%;
	left:9%;
	width: 260px;
	/*z-index: -10;*/
	opacity:1;

}

.site_Title h2{
	font-size: 7rem;
	line-height: 100%;
	letter-spacing: 0px;
}

.siteText{
	width: 50%;
	height: 70%;
	padding-left: 10px;
}

.siteText p{
	font-family: "Interstate-Bold";
	font-size: 1.5rem;
	/*letter-spacing: .05em;*/
	line-height: 1.4em;
	margin:0;

}

.menuFloatDescription{
	left: 72%;
}

.menuFloatStreetview{
	left: 72%;
}

.menuFloatVisit{
	left: 72%;
}





