


/*home*//*//////////////////////////////////////////*/

.home{
	position:fixed;
	left: 5%;
	top: 29px;
	z-index: 2000;
}

.home img{
	width: 50px;
}

/*menu*//*//////////////////////////////////////////*/

.menu {
}

.menuLinks{
	top:52px;
	left:16%;
}   

.menuLinks h1{
	font-size: 1.3rem;
}

.menu div:hover{
	font-style: italic;
}

.menuSites{
}

.menuSites h1{}


.listItineraries{
	position: fixed;
	bottom: 30px;
	right: 10%;
	z-index: -10;
	opacity:0;
}

.listItineraries h3{
	font-size: 1.05rem;
}

/*===========Itinerary Page========*/
.itineraryTitle h1{
	font-size: 33px;
}

#itinerarySitesContain ul li{
}
#itinerarySitesContain ul li h1{
	font-size: 28px;
	line-height: 1.1em;
}

#itinerarySitesContain ul li h2{
	font-size: 16px;
	line-height: 1rem;
}

.itineraryMap{
}

.itineraryMap iframe{
}




