

/*home*//*//////////////////////////////////////////*/

.home{
}

.home img{
}
/*menu*//*//////////////////////////////////////////*/


.menuLinks h1{
	font-size: 1.6rem;
}

.menu div:hover{
	font-style: italic;
}

.menuSites{
}

.menuSites h1{
	font-size: 23px;
	margin-left: 10px;
}

.listItineraries h3{
	font-size: 1.25rem;
}


/*===========Itinerary Page========*/
.itineraryTitle{
}

.itineraryTitle h1{
}
.itineraryContain{
}

#itinerarySitesContain{
	left: 0%;
	width: 85%;
}

#itinerarySitesContain ul li{
}
#itinerarySitesContain ul li h1{
}

#itinerarySitesContain ul li h2{
}

.itineraryMap{
	
}

.itineraryMap iframe{
}



/*===========Archive Page========*/
.archiveContain{
}

.archiveTitle{
}

.archiveTitle h1{
	font-size: 1.8rem;
}

#sitesContain{
}

