
#infowindow {
}

#bodyContent p{
	font-size: 75px;
	font-family: "Interstate-CompressedBlack";
	color: white;
	text-transform: uppercase;
	opacity:1;
	text-align: center;
	text-shadow: 1px 1px 5px #444444;

}

#logo{
	position: relative;
	width: 80%;
	height: auto;

}

/*home*//*//////////////////////////////////////////*/

.home{
	left: 5%;
	top: 29px;
	z-index: 2000;
}

.home img{
	width: 55px;
}


/*menu*//*//////////////////////////////////////////*/

.menu {
}

.menuLinks{
}   

.menuLinks h1{
	font-size: 1.8rem;
}

.menu div:hover{
	font-style: italic;
}

.menuSites{
}

.menuSites h1{
}


.menuFloatSites{
}

.menuFloatAbout{
}



.listItineraries h3{
	font-size: 1.35rem;
}


/*===========Itinerary Page========*/
.itineraryTitle{
}

.itineraryTitle h1{
	font-size: 33px;
}
.itineraryContain{
}

#itinerarySitesContain{
}

#itinerarySitesContain ul li{
}

#itinerarySitesContain ul li h1{
}

#itinerarySitesContain ul li h2{

}

.itineraryMap{
}

.itineraryMap iframe{
}



/*===========Archive Page========*/
.archiveTitle h1{
	font-size: 1.8rem;
}



