/*home*//*//////////////////////////////////////////*/

.home{
	position:fixed;
	left: 5%;
	top: 29px;
	z-index: 2000;
}

.home img{
	width: 55px;
}


/*menu*//*//////////////////////////////////////////*/

.menu {
	z-index: -10;
	width: 100%;
	height: 10px;
	opacity: 0;
}

.menuLinks{
	position:relative;
	top:48px;
	left:17%;
	opacity:1;
}   

.menuLinks h1{
	font-size: 1.6rem;
}

.menu div:hover{
	font-style: italic;
}

.menuSites{
}

.menuSites h1{
}


.menuFloatSites{

}

.menuFloatAbout{
}

.listItineraries h3{
	font-size: 2rem;
}


/*===========Itinerary Page========*/
.itineraryTitle{
}

.itineraryTitle h1{
	font-size: 33px;
}
.itineraryContain{
	width: 100%;
	top: 15%;
}

#itinerarySitesContain{
	left: 0%;
	width: 85%;
	
}

#itinerarySitesContain ul li{
}
#itinerarySitesContain ul li h1{
}

#itinerarySitesContain ul li h2{
}

.itineraryMap{
}

.itineraryMap iframe{
}


