@font-face {
  font-family: "Interstate-Bold";
  src: url('fonts/INTBD.ttf');
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}

@font-face {
  font-family: "Interstate-CompressedBlack";
  src: url('fonts/INTBLCM_.ttf');
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}

@font-face {
  font-family: "Interstate-Reg";
  src: url('fonts/INTREG.otf');
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
}

body{
  overflow-x:hidden;
}


.desContainer {
  position:relative;
  width:100%;
  height:600px;
  overflow:hidden;
  margin-top: 50px
}

#allContainer {
  position:absolute;
  width:100%;
  left:0px;
  height:auto;
  top:75%;
}


.background img{
  position:relative;
  width:100%;
  height:auto;
}


#titleImage{
  position: relative;
  width: 100%;
  height: 100%;
  overflow:hidden;
  overflow-y:hidden;

}

#titleImage img{
  position:relative;
  height:auto;
  width:100%;
  overflow:hidden;

}

.moreinfo{
  position: absolute;
  bottom: 250px;
  right: -40px;
  height: auto;
  z-index: 20;
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);

}


.streetView {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  opacity:0;
  z-index: 0;


}

.directions {
  position: relative;
  top: 0%;
  width: 100%;
  height: 100%;
  opacity:1;
}

.directions:hover{
  cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.directions iframe{
  position:absolute;
  width:100%;
  height:100%;
}


.site_Title{
  position: relative;
  top: 75%;
  left: 8%;
  z-index: -10;
  opacity: 1;

}

.site_Title h1{
  font-family: "Interstate-Bold";
  font-size: 48px;
  line-height: 1em;
  text-align: left;

}

.site_Title h2{
  /*font-family: "Interstate-Bold";*/
  font-size: 75px;
  line-height: .8em;
  text-align: left;
}

.site_Title h4{
  font-family: "Interstate-CondensedBold";
  text-transform: uppercase;
  font-size: 32px;
  font-style: italic;
  line-height: .8em;
  margin:0;
  padding-top: 20px;

}

.itinerary_siteText{
  padding: 0;
  position: relative;
  width: 55%;
  margin-left: 20%;
  border-left: none;
  padding: 10px;
  opacity: 1;

}

.itinerary_siteText h1{
  margin-top: 25px;
  font-size: 36px;
  text-decoration: underline;
  font-style: normal;
  color:#000000;
}

.itinerary_siteText h1 a:hover{
  text-decoration: underline;
  font-style: italic;
  color:#000000;
}


#leftAlign{
  text-align: left;

}


#rightAlign{
  text-align: right;
  
}

.destinationTitle{
  /*margin-top: 100px;*/
  margin-left: 8%;
}

.destinationTitle h3{

 font-family: "Interstate-CondensedBold";
 text-transform: uppercase;
 /*font-style: italic;*/
 font-size: 50px;
}

.destinationTitle h4{

  font-family: "Interstate-CondensedBold";
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 24px;
  font-style: italic;
  line-height: 1em;
  margin-bottom:20px;
}


p{

  font-family: "Interstate-Reg";
  font-size: 18px;
  padding-top: 25px;
  line-height: 28px;
  margin:0;

}

#pullquote{
  text-indent: 0px;
  font-style: italic;
  padding-left: 50px;
  padding-right: 50px;
  line-height: 28px;
  margin:0;

}

.footnote{
  padding-top: 0px;
}

ol{
  padding:10px;
}

li{
  font-family: "Interstate-Reg";
  font-size: 12px;
  padding-top: 25px
  line-height: 18px;
  margin:0;

}

li p{
  font-family: "Interstate-Reg";
  font-size: 12px;
  padding-top: 0px;
  line-height: 18px;
  margin:0;

}

sup{
  font-size: 12px;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

.IMGcaption{
  float: left;
  position: relative;
  width: 22%;
}

.IMGcaption p{
  font-family: "Interstate-Bold";
  font-size: 10px;
  text-indent: 0px;
  line-height: 15px;
  padding-top: 0px;
  padding-right:25px;
  padding-bottom: 25px;
  margin: 0;

}

.overlay{
  position: absolute;
  width: 100%;
  height:100%;
  /*background-color:white;*/
  z-index:100;
  
}

.map{
  z-index: 0;

}

#overlayBG{
  background-color: black;
  opacity:.9;
  position: absolute;
  width: 100%;
  height:100%;

}

.stopImg{
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 60%;
  margin-left: 8%;
  height: auto;
}

.stopImg img{
  position:relative;
  width:75%;
  height:auto;

}


/*Carousel*//*/////////////////////////////*/

.container {
   position:relative;
  width:75%;
  height:100%;
  display:inline-block;
}
.container div {
  width: auto;
  height:430px;
  display: inline;
  display: none;
}
.container img {
  width: 100%;
  top: 0px;
  left: 0px;
  height: auto;
}

button {
  position: absolute;
}

.carouselBtns:hover{
  cursor:pointer;
}
.next {
  width: 10px;
  position: relative;
  float: left;
  margin-top: -20px;
  padding-left: 10px;
}

.prev {
  width: 10px;
  position: relative;
  float: left;
  margin-top: -20px;

}







